<!doctype html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    <title>Flask - Online Chatroom</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>

</head>
<body>
<header class="header">
    {% block header %}
    {% endblock %}
</header>

<main>
    {% block main %}
    {% endblock %}
</main>

<footer>
    <div class="copyright">
        <h5>Copyright &copy; 2024 </h5>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
