{% extends "layout.html" %}
{% block header %}
    <div>
        <h1>Login Page</h1>
    </div>
{% endblock %}
{% block main %}
    <form method="POST" class="buttons">
        <br>
        <fieldset>
            <label class="field">Login : <input type="text" name="username" placeholder="Username"/> </label><br>
            <label class="field">Password : <input type="password" name="password" placeholder="Password"/> </label><br>
            <button type="submit" class="middlebutton">Login</button>
        </fieldset>
    </form>
{% endblock %}
